.article {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xl);
}

.mdxRoot {
  display: grid;
  gap: var(--space-2xl);
}

.mdxRoot :global(h2),
.mdxRoot :global(h3) {
  font-weight: var(--font-weight-medium);
}

.mdxRoot :global(p) {
  color: var(--text-primary);
  max-width: 100%;
}

.mdxRoot :global(blockquote) {
  margin: var(--space-0);
  padding: var(--space-0);
  color: var(--text-primary);
  display: grid;
  gap: var(--space-md);
}

.mdxRoot :global(blockquote footer) {
  color: var(--text-muted);
  font-size: var(--font-size-caption);
}

.mdxRoot :global(ul),
.mdxRoot :global(ol) {
  display: grid;
  gap: var(--space-xs);
}

.mdxRoot :global(section) {
  display: grid;
  gap: var(--space-sm);
}
